html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	color: #888;
}

a {
	color: #888;
	text-decoration: none;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0.25rem 0 0.5rem;
	line-height: 1.25;
}

/** nav **/
header {
	width: 100%;
	background: #eee;
	display: flex;
	text-align: center;
}

nav {
	margin: auto;
	width: 100%;
	max-width: 1200px;
}

nav ul {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	margin: 0;
	padding: 0 2px;
	list-style: none;
}

nav ul li a {
	display: block;
	padding: 4px 8px;
}

/** content **/

.main-section {
	width: 100%;
	display: flex;
}

.ms-inner {
	margin: auto;
	width: 100%;
	max-width: 1200px;
	display: flex;
}

.ms-content {
	padding: 0 10px;
	width: 70%;
	flex: 1;
}

.ms-sidebar {
	padding: 30px 0;
	width: 0%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
}

.ms-sb-show {
	padding: 30px 10px;
	width: 30%;
	background: #efefef;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
}

/** boxes **/

.ms-c-images {
	padding: 30px 0;
	display: flex;
	flex-flow: row wrap;
}

.ms-ci-box {
	margin: 0;
	padding: 10px;
	width: 33.333%;
}

.ms-ci-box img {
	width: 100%;
}